<div class="container" style="max-width: 1320px; min-height: 100vh; padding-top: 100px">
  <canvas #c id="c" width="1500" height="1000" style="position: absolute; border: 0px solid #000"></canvas>
  <div class="titles" style="position: absolute">
    <span style="margin-left: 180px">Scanning</span>
    <span style="margin-left: 125px">Login</span>
    <span style="margin-left: 100px">Malware Download</span>
    <span style="margin-left: 85px">C&C</span>
    <span style="margin-left: 150px">DDoS</span>
  </div>
  <table border="0" class="table-b">
    <tbody>
      <tr>
        <td rowspan="4">
          <div class="cb1">Bot</div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="cg1" id="cg1"></div>
        </td>
        <td>
          <div class="cg1" id="cg2"></div>
        </td>
        <td>
          <div class="cg1" id="cg3"></div>
        </td>
        <td>
          <div class="cg1" id="cg4"></div>
        </td>
        <td>
          <div class="cg1" id="cg5"></div>
        </td>
        <td rowspan="3">
          <div class="cy1">Victim</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="cg1"></div>
        </td>
        <td>
          <div class="cg1" id="cg6"></div>
        </td>
        <td>
          <div class="cg1" id="cg7"></div>
        </td>
        <td>
          <div class="cg1" id="cg8"></div>
        </td>
        <td>
          <div class="cg1" id="cg9"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="cg1"></div>
        </td>
        <td>
          <div class="cg1" id="cg10"></div>
        </td>
        <td>
          <div class="cg1" id="cg11"></div>
        </td>
        <td>
          <div class="cg1" id="cg12"></div>
        </td>
        <td>
          <div class="cg1" id="cg13"></div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div class="loader">Loader</div>
        </td>
        <td>
          <div class="cc">C&C</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
